/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
header{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

margin-top: 30px;

margin-bottom: 30px;
}
.logo{

width: 20%;
}
.logo img{

}
.menu{

width: 20%;
}
.menu a{
    
color: #97999b;   
text-decoration: none;
font-family: 'Roboto', sans-serif; 
}
.banner{

width: 100%;
margin: auto;
margin-bottom: 30px;
}
.img{  
width: 100%;
position: relative;
}
.img img{
    height: 450px;
    width: 100%;
}   
.style{
   
position: absolute;
   
color: white;
   
top: 50%;
   
left: 50%;
   
transform: translate(-50%, -50%);
}
.style h1{

color: #ffffff;

text-transform: uppercase;

margin-bottom: 30px;

text-align: center;

font-family: 'Roboto', sans-serif;

font-weight: 700;

margin-left: 10px;
}
.style h5{
margin-bottom: 60px;
text-align: center;
color: #ffffff;
font-weight: 400;
font-family: 'Roboto', sans-serif;
}
.button{
    
}
.style button{padding: 20px 30px;background: #fb6e52;border: none;border: 2px solid #ffff;margin-left: 91px;color: white;font-family: 'Roboto', sans-serif;font-weight: 500;}
.web_element{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.item{

width: 31%;

margin-bottom: 20px;
}
.item img{
    
margin-bottom: 20px;
margin-left: 127px;
}
.item a{
    
color: #292c34;
    
text-decoration: none;   
font-weight: 400;
font-family: 'Roboto', sans-serif;   
margin: 0px 70px;
text-align: center;  
display: block;
}
.item p{
color: #97999b; 
text-align: center;   
margin: 20px 0;
font-family: 'Roboto', sans-serif;
font-weight: 300;
}
.content{
    width: 80%;
    margin: auto;
}
.title{
text-align: center;
font-size: 16px;
margin-bottom: 50px;
font-weight: 300;
font-style: italic;
font-family: 'Roboto', sans-serif;
}
.title h1{
color: #fb6e52;
}
.galaxy_image{
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
}
.content_picture{
    width: 30%;
    margin-bottom: 80px;
}
.content_picture img{
    height: 150px;
    margin-bottom: 20px;
}
.content_picture h1{

color: #292c34;
font-family: 'Roboto', sans-serif;
margin-left: 35px;

margin-bottom: 10px;
}
.content_picture h5{
    
color: #97999b;
font-weight: 300;   
margin-left: 70px;
}
.blog{
    height: 500px;
    background: #f9f9f9;
    margin-bottom: 150px;
}
.blog h2{
    padding: 30px;
    text-align: center;
    color: #292c34;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.full_blog{
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
.bottom_content{  
    width: 47%;
    
}
.bottom_content img{
    width: 100%;
    margin: 4px 0;
}
.bottom_content a{
    text-decoration: none;
    color: #fb6e52;
    margin: 13px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.bottom_content p{
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
footer{
background-color: #292c34;
padding: 30px 0;
}
.footer_wrapper{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.footer_image{

width: 30%;
}
.footer_image ul{

list-style: none;

display: flex;
}
.footer_image ul li{
margin-right: 26px;
}
.footer_image ul li img{

}
.footer_image ul li h3{
    
color: #797c82;
    
margin-top: 10px;
}
.social_icon{
width: 30%;
}
.social_icon ul{

list-style: none;

display: flex;

justify-content: end;
}
.social_icon ul li{
 margin-top: 13px;
}
.social_icon ul li a{ 
text-decoration: none;  
margin-left: 40px;
color: #d8d9da;
}